.container {
    width: 90vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

input[type="radio"]{
    display: none;
}

label{
    margin-top: 30px;
    width: 270px;
    position: relative;
    color: #6764a9;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #6764a9;
    border-radius: 5px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

label::before{
    content:"";
    height: 50px;
    width: 50px;
    border: 3px solid #6764a9;
    border-radius: 50%;
    margin-right: 20px;
}

input[type="radio"]:checked + label{   
    background: linear-gradient(22deg, #384d9c, #9e7fb8); 
    color: white;
    border: none;
}

input[type="radio"]:checked + label::before{
    height: 25px;
    width: 25px;
    border: 15px solid white;
    background: linear-gradient(22deg, #384d9c, #9e7fb8); 
}

.systeme_onglets{
    margin-top: 60px;
}

.select-theme {
    font-size: 30px;
    margin-left: 10px;
}

.text-select {
    margin-left: 23px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.text-select-bis {
    margin-left: 77px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.icon-select{
    margin-left: 20px;
    width: 25px;
    height: 25px;
    transform: rotate(-7deg);
}

.article {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.onglets {
    width: 95vw;
    margin-left: 2.5vw;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.onglet
{
    margin-top: 3vh;
    width: 190px;
    height: 15vh;
    position: relative;
    color: #6764a9;
    font-family: 'Poppins',sans-serif;
    font-size: 7px;
    border: 2px solid #6764a9;
    border-radius: 5px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
}
.onglet::before
{
    content:"";
    height: 21px;
    width: 21px;
    border: 7px solid #6764a9;
    border-radius: 50%;
    margin-right: 20px;
}
.onglet_0
{
        background:white;
        /**border-bottom:1px solid black;**/
}
.onglet_1
{
    background: linear-gradient(22deg, #384d9c, #9e7fb8); 
    color: white;
    border: none;
}
.onglet_1::before
{
    height: 21px;
    width: 21px;
    border: 7px solid white;
    margin-right: 20px;
    background: linear-gradient(22deg, #384d9c, #9e7fb8); 
}
.contenu_onglet
{
        margin-left: 2.5vw;
        width: 95vw;
        height: 80vh;
        background-color:white;
        background: linear-gradient(22deg, #384d9c, #9e7fb8);
        /**border: 3px solid #6764a9;**/
        border-radius: 5px;
        margin-top:100px;
        padding:5px;
        display:none;
}