/****************** NAVBAR ****************/
#Nav {
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 60px;
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: row;
}
#logo {
    background-image: url(/images/logoStreetzineDegra.svg);
    background-size: cover;
    margin-top: 5px;
    margin-left: 85px;
    width: 135px;
    height: 45px;
}

a:link 
{ 
 text-decoration:none; 
}

.Nav-Bouton {
    margin-left: 5px;
    margin-top: -12px;
    margin-right: 10px;
    color: #6764a9;
    /**background-color: rgb(255, 255, 255);**/
    /**border: solid 2px rgb(0, 0, 0);**/
    width: 150px;
    height: 50px;
    border-radius: 5px;
    display: flex;
}
.Nav-Bouton:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.pokemon {
    display: flex;
    margin-left: 45vw;
    margin-top: 15px;
}

.bouton-nav {
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/************************************************/
body {
    background: linear-gradient(90deg, #387c9c, #9e7fb8);
}

.titre {
    margin-top: 15vh;
    margin-left: 5vw;
    color: white;
}

.baniere {
    border-top: 1vh solid white;
    border-bottom: 1vh solid white;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 40vh;
    background-image: url(/images/M.jpg);
    background-size: cover;
    border-radius: 5px;
}

.text {
    margin-top: 15vh;
    margin-left: 5vw;
    width: 90vw;
    line-height: 7vh;
    color: white;
}

.cote-cote {
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    color: white;
}

.espace {
    width: 10vw;
}

.text-gauche {
    /* background-color: chartreuse; */
    width: 40vw;
    line-height: 5vh;
    color: white;

}

.img-droite {
    border-top: 1vh solid white;
    border-bottom: 1vh solid white;
    border-radius: 5px;
    background-image: url(/images/Von-Anka-Street-Art-by-Trust-iCon-in-London-England.jpg);
    background-size: cover;
    height: 30vw;
    width: 40vw;
}

.citation {
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 5vw;
    width: 90vw;
    display: flex;
    color: white;
}

.guillemet {
    font-size: 50px;
    color: white;
}

.cita {
    font-size: 50px;
    text-align: center;
    color: white;
}

.mini-espace {
    width: 2.5vw;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 25px;
}

.espace {
    width: 100vw;
    height: 200px;
}