#Nav {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    background-color: aqua;
    width: 90%;
    height: 135px;
    display: flex;
    flex-direction: row;
}
#logo {
    background-color: aquamarine;
    margin-top: 5px;
    margin-left: 5px;
    width: 375px;
    height: 125px;
}

ul {
    margin-left: 500px;
    display: flex;
    flex-direction: row;
}

.Nav-Bouton {
    margin-left: 5px;
    margin-top: -12px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: green;
    width: 150px;
    height: 125px;
}

.titre {
    margin-left: 5vw;
}

.baniere {
    margin: auto;
    width: 90vw;
    height: 250px;
    background-color: rgb(163, 71, 175);
}

.cote-cote {
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

.text-gauche {
    width: 45vw;
}

.img-droite {
    background-color: burlywood;
    width: 45vw;
}

.citation {
    margin: auto;
    width: 150px;
    display: flex;
}

.guillemet {
    font-size: 50px;
}

.cita {
    font-size: 50px;
}